/*General HTML element*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Quicksand', sans-serif;
}

/* Todolist Div*/

.mainbox {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.inputbox {
    width: 500px;
    background-color: #1fbdb5;
    padding: 30px 40px;
    color: white;
    text-align: center;
}


/* List*/
ul {
    width: 500px;
    margin: 0;
    padding: 0;
}


ul li {
    width: 500px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    list-style-type: none;
    background: #888;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Style of the text area*/

/*Inputbox text area*/
.inputBoxText {
    border: none;
    width: 75%;
    padding: 10px;
    font-size: 16px;

}

/*Todo text area*/
.todoText {
    border: none;
    width: 370px;
    padding: 10px 10px 5px 10px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    background-color: inherit;
    color:#d9d9d9;
}

.strikethrough:checked + .todoText{
  text-decoration: line-through;
}

/* "Ajouter" button */
.addBtn {
    border: none;
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Others buttons */
.delBtn {
    border: none;
    color: #d9d9d9;
    background-color:inherit;
    cursor: pointer;
}

.saveBtn {
    border: none;
    color: #d9d9d9;
    background-color:inherit;
    cursor: pointer;
    margin: auto;
    padding-top: 10px;
}

button:hover {
    color: #f8f8f8;
}


/*Checkbox*/
input[type="checkbox"]{
height: 20px;
width: 20px;
}
